
@font-face {
    font-family: 'phetsarath';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/phetsarath_ot.ttf');
}

@font-face {
    font-family: 'phetsarath';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/phetsarath_ot_bold.ttf');
}

* {
    font-family: 'phetsarath' !important;
    margin: 0;
    padding: 0;
}